<!-- Page container -->
	<div class="sideBarLeft">
		<div class="mainTitle">Filters</div>
		<div class="bigDividerLine"></div>
		<!-- Rating filters -->
		<div class="subTitle">Ratings</div>
		<div class="medDividerLine"></div>
		<div class="field" ng-repeat="ratingName in ratings">
			{{ratingName}} <input type="checkbox" value="{{ratingName}}" ng-checked="selectedRatings.indexOf(ratingName) > -1" ng-click="toggleRating(ratingName)">
		</div>
		<!-- Genre filters -->
		<div class="subTitle">Genres</div>
		<div class="medDividerLine"></div>
		<div class="field" ng-repeat="genreName in genres">
			{{genreName}} <input type="checkbox" value="{{genreName}}" ng-checked="selectedRatings.indexOf(genreName) > -1" ng-click="toggleGenre(genreName)">
		</div>
		<!-- Location filters -->
		<div class="subTitle">Location</div>
		<div class="medDividerLine"></div>
		<div class="field">
			Zip <input type="text" class="form-control" style="width: 80%" id="zip" ng-model="zipCode" ng-change="search()">
			Radius (Miles) <input type="text" class="form-control" style="width: 80%" id="radius" ng-model="radius" ng-change="search()">
		</div>
	</div>
	
	<!-- View the list of advertisments from a given search -->
	<div class="viewPanel">
		<div style="height:10%">
			<input type="text" style="margin: 10px auto;  width: 80%;" ng-change="search()" class="form-control input-lg" placeholder="Type To Search For A Movie By Title..." ng-model="searchVal"/>
		</div>
		<div class="queryResultsTable">
			<table class="table">
				<thead>
					<th>Title</th>
					<th>Rating</th>
					<th>Price</th>
					<th>Seller</th>
					<th>View Ad</th>
				</thead>
				<tr ng-repeat="ad in ads">
					<td>{{ad.title}}</td>
					<td>{{ad.rating}}</td>
					<td>${{ad.price.toFixed(2)}}</td>
					<td>{{ad.sellerName}}</td>
					<td><button type="button" class="btn btn-primary" ng-click="openAd(ad.id)">View Ad</button></td>
					
				</tr>
			</table>
		</div>
	</div>
	<div class="sideBarRight"></div>